body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

.garage-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.garage-container a {
    display: block;
    text-align: center;
    margin-bottom: 10px;
    text-decoration: none;
    background-color: #faa404;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.garage-container a:hover {
    background-color: #f39000;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

td a {
    text-decoration: none;
    color: #007bff;
    margin-right: 5px;
}

td form {
    display: inline;
    margin: 0;
}

td form button {
    background-color: transparent;
    border: none;
    color: #dc3545;
    cursor: pointer;
}

td form button:hover {
    text-decoration: underline;
}