{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <link rel="stylesheet" href="/static/css/home_page.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <div class="header-content">
        <h1>SERVICE</h1>
        <div class="header-buttons">
            <div class="dropdown">
                <button class="dropbtn">{% if user.is_authenticated %}{{ user.username }}{% else %}Личный кабинет{% endif %}</button>
                <div class="dropdown-content">
                    {% if user.is_authenticated %}
                        <a href="{% url 'garage' %}">Гараж</a>
                        <a href="{% url 'appeals_view' %}">Заявки</a>
                        <a href="{% url 'logout' %}">Выйти</a>
                    {% else %}
                        <a href="{% url 'login' %}">Войти</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</header>


<div class="content">
    <div class="main-image">

    </div>
    <div class="sales-info">
        <h1>Акции</h1>
        <button class="all-sales-button">Все акции</button>
    </div>
    <div class="sale-grid">
        <div class="sale-panel">
            <div class="sale-panel-item" >

                <h3 slot="title">Бесплатная диагностика ходовой части</h3>

                <p slot="desc">для&nbsp;друга&nbsp;— бесплатно,<br> для&nbsp;вас&nbsp;— 150&nbsp;бонусов на&nbsp;счёт
                </p>

            </div>
        </div>
        <div class="sale-panel">

        </div>
        <div class="sale-panel">

        </div>

    </div>
    <div class="service-info">
        <h1>Услуги</h1>
        <button class="all-service-button">Все услуги</button>
    </div>
    <div class="service-grid-1">
        <div class="service-panel">

        </div>
        <div class="service-panel">

        </div>
        <div class="service-panel">

        </div>
        <div class="service-panel">

        </div>

    </div>
    <div class="service-grid-2">
        <div class="service-panel">

        </div>
        <div class="service-panel">

        </div>
        <div class="service-panel">

        </div>
        <div class="service-panel">

        </div>

    </div>
    <div class="service-info">
        <h1>FIT SERVICE — автосервис № 1 в России</h1>
        <div class="service-info-button">
            <p>FIT SERVICE — это не просто самая быстро растущая сеть автосервисов по всей России от Москвы до Владивостока. Это тысячи клиентов, которые нам доверяют. Это дружная команда людей, вдохновленных общей идеей и общим делом. Это строгие стандарты качества во всем и постоянная поддержка наших клиентов, где бы они ни находились.</p>
            <button class="all-sales-button">Подробнее о компании</button>
        </div>
    </div>
</div>
</body>
</html>