<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h2>Register</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Register</button>
    </form>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            let inputField = document.querySelector('input[name="phone_number"]');
            let errorContainer = document.querySelector('.Input-errors');

            inputField.addEventListener("input", function() {
                let inputValue = inputField.value.trim();
                inputField.value = formatPhoneNumber(inputValue);
                // Удаляем все нецифровые символы и проверяем длину оставшейся строки
                let digits = inputField.value.replace(/\D/g, '');
                let russianPhoneNumberPattern = /^\+7\s?\(\d{3}\)\s?\d{3}-?\d{2}-?\d{2}$/;
                if (digits.length !== 11 || !russianPhoneNumberPattern.test(inputField.value)) {
                    errorContainer.textContent = "Please enter a valid Russian phone number";
                } else {
                    errorContainer.textContent = "";
                }
            });

            function formatPhoneNumber(inputValue) {
                let digits = inputValue.replace(/\D/g, ''); // Удаляем все нецифровые символы
                let formattedValue = '+7';
                if (digits.length > 1) {
                    formattedValue += ' (' + digits.slice(1, 4);
                }
                if (digits.length > 4) {
                    formattedValue += ') ' + digits.slice(4, 7);
                }
                if (digits.length > 7) {
                    formattedValue += '-' + digits.slice(7, 9);
                }
                if (digits.length > 9) {
                    formattedValue += '-' + digits.slice(9, 11);
                }
                return formattedValue;
            }
        });
    </script>
</body>
</html>
