<style>
    header {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: #fff;
        height: 100px;
        line-height: 60px;
        box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
    }

    .header-content {
        display: flex;
        justify-content: space-between;
    }

    .header-content h1 {
        margin-left: 15%;
    }

    .header-buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 15%;
    }

    .header-buttons a {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        color: #faa404;

    }

    .header-buttons button {

        font-weight: bold;
        background-color: #faa404;
        border-radius: 10px;
        border: none;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        margin-left: 30px

    }

    .header-buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 15%;
    }

    .header-buttons a {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        color: #faa404;

    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        margin-left: 50px;
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        width: 120px;
        z-index: 1;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        padding: 5px 0;
        top: 100%; /* Сдвигаем список вниз относительно dropbtn */
    }

    .dropdown-content a {
        color: black;
        text-decoration: none;
        display: block;
        border-radius: 10px;
        text-align: center;
    }

    .dropdown-content a:hover {
        background-color: #f1f1f1;
        color: #faa404;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    /* Дополнительные стили для кнопки */
    .dropbtn {
        background-color: transparent;
        color: #faa404;
        padding: 16px;
        font-size: 12px;
        border: none;
        cursor: pointer;
        border-radius: 10px;
        transition: all ease 0.3s;
        /* Добавлено скругление краев */
    }


    .dropbtn:hover {
        background-color: #f1f1f1;
        color: #000;
    }
</style>

<div class="header-content">
    <h1>{{ header_title }}</h1>
    <div class="header-buttons">
        <div class="dropdown">
            <button class="dropbtn">
                {% if user.is_authenticated %}{{ user.username }}{% else %}Личный кабинет{% endif %}
            </button>
            <div class="dropdown-content">
                <a href="/">На глвную</a>
                <a href="{% url 'all_appeals' %}">Заявки</a>
                <a href="{% url 'all_orders' %}">Заказы</a>
                <a href="{% url 'mechanic_schedule_list' %}">Расписание</a>
                <a href="{% url 'logout' %}">Выйти</a>
            </div>
        </div>
    </div>
</div>
