body, html {
    margin: 0;
    font-family: "Montserrat Alternates", sans-serif;
}

.content {
    padding: 0 300px 0 300px;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    height: 100px;
    line-height: 60px;
    box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
}

.header-content{
    display: flex;
    justify-content: space-between;
}

.header-content h1{
    margin-left:15%;
}
.header-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right:15%;
}

.header-buttons a{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: #faa404;

}

.header-buttons button{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    background-color: #faa404;
    border-radius: 10px;
    border: none;
    color: white;

    height: 40px;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.content {
    margin-top: 200px;
}

.main-image {
    background: url('/static/image/main_bg.jpg');
    background-size: cover;
    border-radius: 20px;
    height: 400px;
    box-shadow: 0px 5px 10px 0px rgba(231, 172, 76, 0.2);
}

.sales-info {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.service-info {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.all-sales-button {
    width: 150px;
    margin-top: 10px;
    background-color: white;
    border-radius: 10px;
    border: 2px black solid;
    height: 50px;
}

.all-service-button {
    width: 150px;
    margin-top: 10px;
    background-color: white;
    border-radius: 10px;
    border: 2px #faa404 solid;
    height: 50px;
    color: #faa404;
}

.sale-grid {
    display: flex;
    height: 500px;
    justify-content: space-between;
}

.sale-panel {
    background-color: #faa404;
    height: 100%;
    width: 340px;
    border-radius: 20px;
    box-shadow: 0px 5px 10px 0px rgba(231, 172, 76, 0.2);
    display: block;
    font-size: 24px;
    line-height: 28px;
    font-feature-settings: "tnum", "lnum";
    color: rgb(23, 33, 38);
    font-weight: normal;
    margin: 0px;
    padding: 0px;
}

.sale-panel-item {
     background: url('static/image/diagnostic.jpg');
}

.service-grid-1 {
    display: flex;
    height: 250px;
    justify-content: space-between;
}

.service-grid-2 {
    margin-top: 20px;
    display: flex;
    height: 250px;
    justify-content: space-between;
}

.service-panel {
    background-color: #faa404;
    height: 100%;
    width: 250px;
    border-radius: 20px;
    box-shadow: 0px 5px 10px 0px rgba(231, 172, 76, 0.2);
}

.service-info{
    display: flex;
    justify-content: space-between;
}

.service-info h1{
    width: 400px;
    font-weight: bolder;
}

.service-info-button p{
    width: 600px;
    text-align: left;
    display: table;
}


/* Стили для выпадающего меню */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 120px;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 10px;
    padding: 5px 0;
    top: 100%; /* Сдвигаем список вниз относительно dropbtn */
}

.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
    border-radius: 10px;
    text-align: center;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Дополнительные стили для кнопки */
.dropbtn {
    background-color: transparent;
    color: #faa404;
    padding: 16px;
    font-size: 12px;
    border: none;
    cursor: pointer;
    border-radius: 10px; /* Добавлено скругление краев */
}

.dropbtn:hover {
    background-color: #f1f1f1;
    color: #000;
}

/* Стили для кнопки "Выйти" */
.logout-button {
    background-color: transparent;
    color: #faa404;
    border: none;
    cursor: pointer;
    font-size: 12px;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
    border-radius: 10px;
}

.logout-button:hover {
    background-color: #f1f1f1;
    color: #000;
}