<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Полная информация о заявке</title>
</head>
<body>
    <h1>Полная информация о заявке</h1>
    <p><strong>Дата создания:</strong> {{ appeal.created_at }}</p>
    <p><strong>Дата выбранная:</strong> {{ appeal.chosen_date }}</p>
    <p><strong>Время выбранное:</strong> {{ appeal.chosen_time }}</p>
    <p><strong>Комментарий:</strong> {{ appeal.comment }}</p>

    <h2>Информация об автомобиле</h2>
    <p><strong>Марка:</strong> {{ appeal.car.brand }}</p>
    <p><strong>Модель:</strong> {{ appeal.car.model }}</p>
    <p><strong>Госномер:</strong> {{ appeal.car.license_plate }}</p>
    <p><strong>Год выпуска:</strong> {{ appeal.car.year_of_manufacture }}</p>
    <p><strong>Цвет:</strong> {{ appeal.car.color }}</p>
    <p><strong>VIN номер:</strong> {{ appeal.car.vin_number }}</p>
    <!-- Добавьте другие необходимые поля -->

    <h2>Информация о владельце</h2>
    <p><strong>ФИО:</strong> {{ appeal.car.client.bio }}</p>
    <p><strong>Электронная почта:</strong> {{ appeal.car.client.username }}</p>
    <p><strong>Номер телефона:</strong> {{ appeal.car.client.phone_number }}</p>

    <a href="{% url 'all_appeals' %}">Назад</a>

     <button type="button" onclick="openConfirmationModal()">Подтвердить</button>

    <!-- Модальное окно для подтверждения заявки -->
    <div id="confirmationModal" class="modal" style="display: none;">
        <div class="modal-content">
            <span class="close" onclick="closeConfirmationModal()">&times;</span>
            <form id="confirmationForm" action="{% url 'update_appeal' appeal.id %}" method="post">
                {% csrf_token %}
                <label for="chosenDate">Дата выбранная:</label>
                <input type="date" id="chosenDate" name="chosenDate" value="{{ appeal.chosen_date|date:'Y-m-d' }}">

                <label for="chosenTime">Время выбранное:</label>
                <input type="time" id="chosenTime" name="chosenTime" value="{{ appeal.chosen_time }}">

                <label for="mechanic">Выберите механика:</label>
                <select id="mechanic" name="mechanic">
                    {% for mechanic in mechanics %}
                        <option value="{{ mechanic.id }}">{{ mechanic.bio }}</option>
                    {% endfor %}
                </select>

                <button type="button" onclick="confirmAppointment()">Сохранить</button>
                <button type="button" onclick="closeConfirmationModal()">Отмена</button>
            </form>
        </div>
    </div>

    <script>
        // Функция для открытия модального окна
        function openConfirmationModal() {
            document.getElementById("confirmationModal").style.display = "block";
        }

        // Функция для закрытия модального окна
        function closeConfirmationModal() {
            document.getElementById("confirmationModal").style.display = "none";
        }

        // Функция для отправки данных на сервер и обработки ответа
        function confirmAppointment() {
            var form = document.getElementById("confirmationForm");
            var formData = new FormData(form);

            fetch(form.action, {
                method: 'POST',
                body: formData,
                headers: {
                    'X-Requested-With': 'XMLHttpRequest',
                    'X-CSRFToken': '{{ csrf_token }}'
                }
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        alert('Заявка успешно подтверждена');
                        closeConfirmationModal();
                        window.location.href = "{% url 'all_appeals' %}";
                    } else {
                        alert('Произошла ошибка при подтверждении заявки');
                        console.error('Ошибка при подтверждении заявки:', data.error);
                    }
                })
                .catch(error => {
                    console.error('Ошибка при выполнении запроса:', error);
                });
        }
    </script>
</body>
</html>
