{% extends 'base_templates/base_layout.html' %}

{% load static %}

{% block title %} Добавить автомобиль {% endblock %}

{% block styles %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/add_car.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">
{% endblock %}

{% block header %}
    {% include 'base_templates/base_account_header.html' with header_title="Ваш гараж" %}
{% endblock %}

{% block content %}

    <form method="post">
        <h2>Добавить авто в гараж</h2>
        {% csrf_token %}

        <input type="text" id="sts" name="sts" required placeholder="СТС">


        <input type="text" id="brand" name="brand" required placeholder="Марка">


        <input type="text" id="model" name="model" required placeholder="Модель">


        <input type="text" id="body_type" name="body_type" required placeholder="Тип кузова">


        <input type="text" id="license_plate" name="license_plate" required placeholder="Государственный номер">


        <input type="text" id="color" name="color" required placeholder="Цвет">


        <input type="text" id="vin_number" name="vin_number" required placeholder="VIN номер">


        <input type="number" id="year_of_manufacture" name="year_of_manufacture" required placeholder="Год выпуска">

        <button type="submit">Добавить</button>
        <button type="button" onclick="window.history.back()">Назад</button>
    </form>
{% endblock %}
