{% extends 'base_templates/base_layout.html' %}

{% load static %}

{% block title %} Ваши заявки {% endblock %}

{% block styles %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/client_order.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">
{% endblock %}

{% block header %}
    {% include 'base_templates/base_header.html' %}
{% endblock %}

{% block content %}
<div class="content">
    <div class="left-button">
        <button class="button" id="openModal">Создать заявку</button>
    </div>
    
    <div class="order-cards">
        {% for order in client_orders %}
            <div class="order-card">
                <div class="order-card-header">
                    <h3>Заявка №{{ order.id }}</h3>
                    <span class="order-status {{ order.status|lower }}">{{ order.get_status_display }}</span>
                </div>
                <div class="order-card-body">
                    <p><strong>Дата создания:</strong> {{ order.created_at }}</p>
                    <p><strong>Дата выбранная:</strong> {{ order.chosen_date }}</p>
                    <p><strong>Время выбранное:</strong> {{ order.chosen_time }}</p>
                    <p><strong>Комментарий:</strong> {{ order.comment }}</p>
                    <p><strong>Автомобиль:</strong> {{ order.car.brand }} {{ order.car.model }} {{ order.car.license_plate }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<!-- Modal -->
<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close" id="closeModal">&times;</span>
        <form method="POST">
            <h2>Запишитесь на СТО в Казани</h2>
            {% csrf_token %}
            {{ form.as_p }}
            <button class="search-button" type="submit">Записаться на СТО</button>
            <button class="filter-button" type="button" onclick="window.history.back()">Назад</button>
        </form>
    </div>
</div>

<script>
    document.getElementById('openModal').onclick = function() {
        document.getElementById('myModal').style.display = 'block';
    };
    document.getElementById('closeModal').onclick = function() {
        document.getElementById('myModal').style.display = 'none';
    };
    window.onclick = function(event) {
        if (event.target == document.getElementById('myModal')) {
            document.getElementById('myModal').style.display = 'none';
        }
    };
    window.onload = function () {
        var today = new Date().toISOString().split('T')[0];
        document.getElementById("id_chosen_date").setAttribute("min", today);
    };
</script>
{% endblock %}
