{% extends 'base_templates/base_layout.html' %}

{% load static %}

{% block title %} Текущие заказы {% endblock %}

{% block styles %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/all_appeals.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">
{% endblock %}

{% block header %}
    {% include 'base_templates/base_staff_header.html' with header_title="Текущие заказы" %}
{% endblock %}

{% block content %}
    <div class="content">
        <div class="form-and-button">
            <form id="searchForm" method="GET" action=".">
                <input class="input-label" type="date" id="search_date" name="search_date" value="{{ request.GET.search_date }}">
                <input  class="input-label" type="text" name="search_query" placeholder="Поиск..." value="{{ request.GET.search_query }}">
                <button class="search-button" type="button" onclick="submitForm()">Искать</button>
                <button class="cancel-button" type="button" onclick="clearFilters()">Отменить фильтры</button>
            </form>
            <a class="create-order-button" href="{% url 'create_order_by_manager' %}">Создать заявку</a>
        </div>
        <table id="ordersTable">
            <thead>
            <tr>
                <th class="sortable" onclick="sortTable(0)">Дата создания <span class="sort-indicator"></span></th>
                <th class="sortable" onclick="sortTable(1)">Выбранная дата <span class="sort-indicator"></span></th>
                <th class="sortable" onclick="sortTable(2)">Выбранное время <span class="sort-indicator"></span></th>
                <th>Комментарий</th>
                <th>Автомобиль</th>
                <th>Владелец</th>
                <th class="sortable" onclick="sortTable(6)">Статус <span class="sort-indicator"></span></th>
                <th>Действия</th>
            </tr>
            </thead>
            <tbody>
            {% for order in orders %}
                <tr>
                    <td>{{ order.created_at }}</td>
                    <td>{{ order.chosen_date }}</td>
                    <td>{{ order.chosen_time }}</td>
                    <td>{{ order.comment }}</td>
                    <td>{{ order.car }}</td>
                    <td>{{ order.car.client }}</td>
                    <td>{{ order.get_status_display }}</td>
                    <td><a class="action-button" href="{% url 'order_details' order.id %}">Обработать</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
        function submitForm() {
            document.getElementById('searchForm').submit();
        }

        function clearFilters() {
            document.getElementById('search_date').value = '';
            document.getElementsByName('search_query')[0].value = '';
            document.getElementById('searchForm').submit();
        }

        function sortTable(n) {
            var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
            table = document.getElementById("ordersTable");
            switching = true;
            dir = "asc"; 

            var indicators = table.querySelectorAll(".sort-indicator");
            indicators.forEach(indicator => indicator.innerHTML = "");

            while (switching) {
                switching = false;
                rows = table.rows;

                for (i = 1; i < (rows.length - 1); i++) {
                    shouldSwitch = false;
                    x = rows[i].getElementsByTagName("TD")[n];
                    y = rows[i + 1].getElementsByTagName("TD")[n];

                    if (dir == "asc") {
                        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                            shouldSwitch = true;
                            break;
                        }
                    } else if (dir == "desc") {
                        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                            shouldSwitch = true;
                            break;
                        }
                    }
                }

                if (shouldSwitch) {
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                    switchcount++;
                } else {
                    if (switchcount == 0 && dir == "asc") {
                        dir = "desc";
                        switching = true;
                    }
                }
            }

            var th = table.getElementsByTagName("TH")[n];
            var indicator = th.querySelector(".sort-indicator");

            if (dir === "asc") {
                indicator.innerHTML = "▲";
            } else {
                indicator.innerHTML = "▼";
            }
        }
    </script>
{% endblock %}
