{% extends 'base_templates/base_layout.html' %}

{% load static %}

{% block title %} Детальная информация {% endblock %}

{% block styles %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/order_detail.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">
{% endblock %}

{% block header %}
    {% include 'base_templates/base_staff_header.html' with header_title="Полная информация о заказе" %}
{% endblock %}

{% block content %}
    {% if order.status != 'COMPLETED' %}
        <style>
            .choose-service {
                width: 40%;
            }
        </style>
    {% else %}
        <style>
            .choose-service {
                width: 0;
                overflow: hidden; /* Для скрытия содержимого, если ширина 0 */
            }

            .okaz-service {
                margin-left: 0;
            }
        </style>
    {% endif %}
    <div class="main-container">
        <div class="order-details-container">
            <p>Автомобиль: <strong>{{ order.car }}</strong></p>
            <p>Статус выполнения: <strong>{{ order.get_status_display }}</strong></p>
            {% if order.final_cost == none %}
                <p>Конечная стоимость: <strong>Заказ еще не завершен!</strong></p>
            {% else %}
                <p>Конечная стоимость: <strong>{{ order.final_cost }}</strong></p>
            {% endif %}

            {% if order.end_date == none %}
                <p>Дата окончания выполнения: <strong>Заказ еще не завершен!</strong></p>
            {% else %}
                <p>Дата окончания выполнения: <strong>{{ order.end_date }}</strong></p>
            {% endif %}

            {% if order.end_time == none %}
                <p>Время окончания выполнения: <strong>Заказ еще не завершен!</strong></p>
            {% else %}
                <p>Время окончания выполнения: <strong>{{ order.end_time }}</strong></p>
            {% endif %}


            {% if order.status != 'COMPLETED' %}
                <form action="{% url 'update_order_status' order.id %}" method="post">
                    {% csrf_token %}
                    {% if order.status == 'PENDING' %}
                        <div class="submit-back" style="display: flex; justify-content: space-between">

                            <a href="{% url 'all_orders' %}" class="back-button"
                               style="display: flex; align-items: flex-end; text-decoration: none; color: #faa404">Назад</a>
                            <button type="submit" name="action" value="start_work" class="order-action-button">Взять в
                                работу
                            </button>
                        </div>

                    {% elif order.status == 'IN_PROGRESS' %}
                        <div class="submit-back" style="display: flex; justify-content: space-between">
                            <a href="{% url 'all_orders' %}" class="back-button"
                               style="display: flex; align-items: flex-end; text-decoration: none; color: #faa404">Назад</a>
                            <button type="submit" name="action" value="complete_work" class="order-action-button">
                                Завершить
                                работу
                            </button>
                        </div>
                    {% endif %}
                </form>
            {% else %}
                <a href="{% url 'all_orders' %}" class="back-button"
                   style="display: flex; align-items: flex-end; text-decoration: none; color: #faa404">Назад</a>
            {% endif %}
        </div>

        <div class="order-services-list" style="display: flex; justify-content: space-between">


            <div class="choose-service">
                {% if order.status != 'COMPLETED' and order.status != 'PENDING' %}

                    <h2 style="font-size: 20px; font-weight: normal">Добавить услугу</h2>
                    <form action="{% url 'order_details' order.id %}" method="post">
                        {% csrf_token %}
                        <label>
                            <select name="service">
                                {% for group in service_groups %}
                                    <optgroup label="{{ group.name }}">
                                        {% for service in group.service_set.all %}
                                            <option value="{{ service.id }}">{{ service.name }}</option>
                                        {% endfor %}
                                    </optgroup>
                                {% endfor %}
                            </select>
                        </label>
                        <br> <!-- Добавим перенос строки для разделения элементов формы -->
                        <button class="add-service-button" type="submit">Добавить</button>
                    </form>
                {% endif %}
            </div>
            <div class="okaz-service">
                <h2>Оказанные услуги:</h2>
                <ul style="list-style: circle; margin-left: 20px;">
                    {% for specification in order.orderspecification_set.all %}
                        <li>{{ specification.service }} - {{ specification.service.price }}Р</li>
                    {% endfor %}
                </ul>
            </div>

        </div>
    </div>
{% endblock %}

