{% extends 'base_templates/base_layout.html' %}

{% load static %}

{% block title %} История обслуживания {% endblock %}

{% block styles %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/service_history.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">
{% endblock %}

{% block header %}
    {% include 'base_templates/base_account_header.html' with header_title="История обслуживания" %}
{% endblock %}

{% block content %}
    <div class="content">
        {% for appeal, orders in appeal_orders.items %}
            {% for order in orders %}
                {% if order.status == 'COMPLETED' %}
                    <div class="appeal-block">
                        <div class="appeal-info">Заявка от {{ appeal.created_at }}</div>
                        <div class="appeal-info">Автомобиль: {{ appeal.car.brand }} {{ appeal.car.model }} {{ appeal.car.license_plate }}</div>
                        <div class="appeal-info">Комментарий: {{ appeal.comment }}</div>
                        <button class="show-info-btn"
                                data-appeal-id="{{ appeal.id }}"
                                data-mechanic="{{ order.name_of_the_responsible_mechanic }}"
                                data-services="{% for spec in order.orderspecification_set.all %}{{ spec.service.name }}: {{ spec.service.price }} ₽{% if not forloop.last %}; {% endif %}{% endfor %}"
                                data-final-cost="{{ order.final_cost }} ₽"
                                data-end-date="{{ order.end_date }}"
                        >Показать</button>
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>

    <div id="modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Дополнительная информация о заявке</h2>
            <p><strong>Механик:</strong> <span id="modal-mechanic"></span></p>
            <p><strong>Услуги:</strong></p>
            <ul id="modal-services"></ul>
            <p><strong>Конечная стоимость:</strong> <span id="modal-final-cost"></span></p>
            <p><strong>Дата завершения:</strong> <span id="modal-end-date"></span></p>
        </div>
    </div>

    <script>
        // Получение модального окна
        var modal = document.getElementById('modal');

        // Получение кнопки, которая открывает модальное окно
        var btns = document.querySelectorAll('.show-info-btn');

        // Получение элемента для закрытия модального окна
        var span = document.getElementsByClassName("close")[0];

        // Когда пользователь нажимает на кнопку, открываем модальное окно
        btns.forEach(function(btn) {
        btn.onclick = function() {
            var mechanic = this.getAttribute('data-mechanic');
            var servicesWithCost = this.getAttribute('data-services').split(';');
            var finalCost = this.getAttribute('data-final-cost');
            var endDate = this.getAttribute('data-end-date');

            var modalMechanic = document.getElementById('modal-mechanic');
            var modalServices = document.getElementById('modal-services');
            var modalFinalCost = document.getElementById('modal-final-cost');
            var modalEndDate = document.getElementById('modal-end-date');

            modalMechanic.textContent = mechanic;
            modalFinalCost.textContent = finalCost;
            modalEndDate.textContent = endDate;

            modalServices.innerHTML = '';
            servicesWithCost.forEach(function(serviceWithCost) {
                var serviceCost = serviceWithCost.split(':');
                var listItem = document.createElement('li');
                listItem.textContent = serviceCost[0] + ': ' + serviceCost[1];
                modalServices.appendChild(listItem);
            });

            modal.style.display = "block";
        }
    });

        // Когда пользователь нажимает на элемент для закрытия, закрываем модальное окно
        span.onclick = function () {
            modal.style.display = "none";
        }

        // Когда пользователь нажимает вне модального окна, закрываем его
        window.onclick = function (event) {
            if (event.target === modal) {
                modal.style.display = "none";
            }
        }
    </script>
{% endblock %}
