body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

header{
    margin: 0 231.5px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 170px;
}

.order-cards {
    column-count: 3;
    column-gap: 20px;
    column-fill: balance;
}

.left-button {
    display: flex;
    justify-content: left;
    width: 100%;
}

.button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0 20px 260px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}

.order-card {
    break-inside: avoid;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: calc(33.333% - 20px);
    min-width: 440px;
    box-sizing: border-box;
    flex: 1;
    margin-bottom: 20px;
}

.order-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order-status {
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.order-status.awaiting_confirmation {
    background-color: rgb(112, 112, 112);
    box-shadow: 0 0 10px #707070FF;
}

.order-status.pending {
    background-color: #ff6347;
    box-shadow: 0 0 10px #ff6347;
}

.order-status.waiting_car {
    background-color: #1e90ff;
    box-shadow: 0 0 10px #1e90ff;
}

.order-status.in_progress {
    background-color: #32cd32;
    box-shadow: 0 0 10px #32cd32;
}

.order-card-body {
    margin-top: 10px;
}

.order-card-body p {
    margin: 10px 0;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
